{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>LeBari Education HTML-5 Template | Homepage 01</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}?v=2" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
    <header class="main-header">
    	
		<!--Header-Upper-->
        <div class="header-upper">
        	<div class="outer-container clearfix">
            	
				<div class="pull-left logo-box">
					<div class="logo"><a href="{% url 'index' %}">
						{% if settings.logo %}
						<img src="{{ settings.logo.url }}" alt="Logo">
						{% else %}
						{% if site_setting and site_setting.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ site_setting.logo_text }}</h2>
{% elif site_setting and site_setting.logo_type == 'image' and site_setting.logo %}
    <img src="{{ site_setting.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}
						{% endif %}
					</a></div>
				</div>
				
				<div class="nav-outer clearfix">
					<!--Mobile Navigation Toggler-->
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
					<!-- Main Menu -->
					<nav class="main-menu navbar-expand-md">
						<div class="navbar-header">
							<!-- Toggle Button -->    	
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						
						<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
    {% for item in menus.main_nav.items.all %}
        {% if not item.parent %}
            {% if item.children.all %}
            <li class="dropdown"><a href="{{ item.url|default:'#' }}">{{ item.title }}</a>
                <ul>
                    {% for child in item.children.all %}
                    {% if child.children.all %}
                    <li class="dropdown"><a href="{{ child.url|default:'#' }}">{{ child.title }}</a>
                        <ul>
                            {% for subchild in child.children.all %}
                            <li><a href="{{ subchild.url|default:'#' }}">{{ subchild.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="{{ child.url|default:'#' }}">{{ child.title }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% else %}
            <li><a href="{{ item.url|default:'#' }}">{{ item.title }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
						</div>
					</nav>
					
					<!-- Main Menu End-->
					<div class="outer-box clearfix">
						
						<!-- Search -->
						<div class="search-box">
							<form method="post" action="{% url 'contact' %}">
{% csrf_token %}
								<div class="form-group">
									<input type="search" name="search-field" value="" placeholder="What do we want learn" required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>
						
						<!-- Social Box -->
						<ul class="social-box">
							{% if settings.instagram_url %}<li class="instagram"><a target="_blank" href="{{ settings.instagram_url }}" class="fa fa-instagram"></a></li>{% endif %}
							{% if settings.facebook_url %}<li class="facebook"><a target="_blank" href="{{ settings.facebook_url }}" class="fa fa-facebook-f"></a></li>{% endif %}
							{% if settings.twitter_url %}<li class="twitter"><a target="_blank" href="{{ settings.twitter_url }}" class="fa fa-twitter"></a></li>{% endif %}
							{% if settings.pinterest_url %}<li class="pinterest"><a target="_blank" href="{{ settings.pinterest_url }}" class="fa fa-pinterest-p"></a></li>{% endif %}
						</ul>
							
					</div>
				</div>
				
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="{% url 'index' %}" title="">
						{% if settings.logo %}
						<img src="{{ settings.logo.url }}" alt="Logo">
						{% else %}
						{% if site_setting and site_setting.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ site_setting.logo_text }}</h2>
{% elif site_setting and site_setting.logo_type == 'image' and site_setting.logo %}
    <img src="{{ site_setting.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}
						{% endif %}
					</a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
					<!-- Main Menu End-->
					
					<!-- Main Menu End-->
					<div class="outer-box clearfix">
						
					</div>
					
                </div>
            </div>
        </div>
		<!-- End Sticky Menu -->
    
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="{% url 'index' %}">
					{% if settings.logo %}
					<img src="{{ settings.logo.url }}" alt="Logo">
					{% else %}
					{% if site_setting and site_setting.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ site_setting.logo_text }}</h2>
{% elif site_setting and site_setting.logo_type == 'image' and site_setting.logo %}
    <img src="{{ site_setting.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}
					{% endif %}
				</a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
	
    </header>
    <!-- End Main Header -->
{% block content %}
{% endblock %}
<!-- Main Footer -->
    <footer class="main-footer">
		<div class="circle-layer"></div>
		<div class="pattern-layer-one" style="background-image: url({% static 'images/background/pattern-12.png' %})"></div>
		<div class="pattern-layer-two" style="background-image: url({% static 'images/background/pattern-13.png' %})"></div>
		<div class="pattern-layer-three" style="background-image: url({% static 'images/background/pattern-14.png' %})"></div>
		<div class="pattern-layer-four" style="background-image: url({% static 'images/background/pattern-13.png' %})"></div>
		<div class="auto-container">
			<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
                    <!-- Footer Column -->
					<div class="footer-column col-lg-5 col-md-12 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a href="{% url 'index' %}">
                                    {% if site_setting and site_setting.logo_type == 'text' %}
                                        <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ site_setting.logo_text }}</h2>
                                    {% elif site_setting and site_setting.logo_type == 'image' and site_setting.logo %}
                                        <img src="{{ site_setting.logo.url }}" alt="Logo" title="">
                                    {% else %}
                                        <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
                                    {% endif %}
                                </a>
							</div>
							<ul class="info-list">
								<li>Tel:<a href="tel:{{ site_setting.phone|default:'+0842234000000' }}"> {{ site_setting.phone|default:'+0842234000000' }}</a></li>
								<li>Email:<a href="mailto:{{ site_setting.email|default:'info@yourcompany.com' }}"> {{ site_setting.email|default:'info@yourcompany.com' }}</a></li>
							</ul>
							<!-- Social Box -->
							<ul class="social-box">
                                {% if site_setting.twitter_url %}
								<li class="twitter"><a target="_blank" href="{{ site_setting.twitter_url }}" class="fa fa-twitter"></a></li>
                                {% endif %}
                                {% if site_setting.pinterest_url %}
								<li class="pinterest"><a target="_blank" href="{{ site_setting.pinterest_url }}" class="fa fa-pinterest-p"></a></li>
                                {% endif %}
                                {% if site_setting.facebook_url %}
								<li class="facebook"><a target="_blank" href="{{ site_setting.facebook_url }}" class="fa fa-facebook-f"></a></li>
                                {% endif %}
                                {% if site_setting.instagram_url %}
								<li class="dribbble"><a target="_blank" href="{{ site_setting.instagram_url }}" class="fa fa-instagram"></a></li>
                                {% endif %}
							</ul>
							<div class="text">{{ site_setting.footer_about_text|default:'The latest news, articles, and resources, sent to your inbox weekly.' }}</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-7 col-md-12 col-sm-12">
						<div class="row clearfix">
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<h5>{{ menus.footer_links_1.name|default:'Our Links' }}</h5>
								<ul class="list">
                                    {% for item in menus.footer_links_1.items.all %}
                                        {% if not item.parent %}
									    <li><a href="{{ item.url|default:'#' }}">{{ item.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
								</ul>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<h5>{{ menus.footer_links_2.name|default:'Need some help?' }}</h5>
								<ul class="list">
                                    {% for item in menus.footer_links_2.items.all %}
                                        {% if not item.parent %}
									    <li><a href="{{ item.url|default:'#' }}">{{ item.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
								</ul>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<h5>{{ menus.footer_links_3.name|default:'Courses' }}</h5>
								<ul class="list">
									{% for item in menus.footer_links_3.items.all %}
                                        {% if not item.parent %}
									    <li><a href="{{ item.url|default:'#' }}">{{ item.title }}</a></li>
                                        {% endif %}
                                    {% endfor %}
								</ul>
							</div>
							
						</div>
					</div>
					
				</div>
			</div>
			
			<!-- Lower Box -->
            <div class="lower-box">
            	<div class="row clearfix">
					<div class="col-lg-6 col-md-6 col-sm-12">
						<!-- Subscribe Form -->
						<div class="subscribe-form">
							<h6>{{ site_setting.footer_newsletter_title|default:'Newsletter' }}</h6>
							<form method="post" action="{% url 'contact' %}">
                            {% csrf_token %}
								<div class="form-group">
									<input type="email" name="email" value="" placeholder="Your email" required>
									<button type="submit" class="submit-btn"><span class="icon flaticon-right-arrow-2"></span></button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12">
						<div class="text">{{ site_setting.footer_newsletter_text|default:'' }}</div>
                        {% if site_setting.footer_newsletter_button_text %}
						<a href="{{ site_setting.footer_newsletter_button_link|default:'#' }}" class="singup">{{ site_setting.footer_newsletter_button_text }}</a>
                        {% endif %}
					</div>
				</div>
			</div>
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="row clearfix">
					
					<!-- Copyright Column -->
					<div class="copyright-column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright">{{ site_setting.copyright_text|default:'Copyright 2026, All Right Reserved' }}</div>
					</div>
					
					<!-- Nav Column -->
					<div class="nav-column col-lg-6 col-md-12 col-sm-12">
						<ul>
                            {% for item in menus.footer_bottom.items.all %}
                                {% if not item.parent %}
							    <li><a href="{{ item.url|default:'#' }}">{{ item.title }}</a></li>
                                {% endif %}
                            {% endfor %}
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>