{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Event Detail Section -->
	<section class="event-detail-section">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h5>Event Description</h5>
						<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum</p>
						<div class="image">
							<img src="{% static 'images2/resource/event-10.jpg' %}" alt="" />
						</div>
						
						<div class="learn-box">
							<h5>During this event, we’ll cover</h5>
							<ul class="learn-list">
								<li>JavaScript fundamentals: variables, if/else, operators, boolean logic, functions, arrays, objects, loops, strings, etc.</li>
								<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
								<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour</li>
							</ul>
						</div>
						
						<h5>Requirements</h5>
						<ul class="learn-list-two">
							<li>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</li>
							<li>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly </li>
							<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</li>
						</ul>
						
						<!-- Social Box -->
						<ul class="social-box">
							<span class="fa fa-share-alt"></span>
							<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
							<li class="pinterest"><a target="_blank" href="http://pinterest.com/" class="fa fa-pinterest-p"></a></li>
							<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
							<li class="dribbble"><a target="_blank" href="http://dribbble.com/" class="fa fa-dribbble"></a></li>
						</ul>
						
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h5>Archives</h5>
						
						<!-- Select Month -->
						<div class="select-month">
							<!-- Form Group -->
							<div class="form-group">
								<select name="country" class="custom-select-box">
									<option>Select Months</option>
									<option>January</option>
									<option>March</option>
									<option>April</option>
									<option>June</option>
								</select>
							</div>
						</div>
						
						<!-- Popular Posts -->
						<div class="popular-tags-box">
							<div class="title-box">
								<h5>Tags</h5>
							</div>
							<div class="widget-content">
								<a href="#">seafood</a>
								<a href="#">gyros</a>
								<a href="#">chicken</a>
								<a href="#">pizza</a>
								<a href="#">ecommerce</a>
								<a href="#">food</a>
							</div>
						</div>
						
						<!-- Event Widget -->
						<div class="event-widget">
							<h6>This Event includes:</h6>
							<div class="text">There are many variations of passages of Lorem Ipsum, but the majority have suffered.</div>
							
							<!-- Event Organizer -->
							<div class="event-organizer">
								<div class="organizer">Organizers:</div>
								<ul class="organizer-list">
									<li>
										<strong>Mr Sumon Molla</strong>
										Email : sumon@example.com
									</li>
									<li>
										<strong>Mahfuz Riad</strong>
										Email : sumon@example.com
									</li>
								</ul>
								
								<div class="lecturer">Lecturer:</div>
								<ul class="organizer-list">
									<li>
										<strong>MD Ahad master</strong>
										Email : sumon@example.com
									</li>
									<li>
										<strong>Tamim Megh</strong>
										Email : sumon@example.com
									</li>
								</ul>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Event Detail Section -->
	
	<!-- Related Events Section -->
	<section class="related-events-section">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<h3>Related Events</h3>
			</div>
			<div class="row clearfix">
				
				<!-- Event Block Two -->
				<div class="event-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="#"><img src="{% static 'images2/resource/event-4.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="category">Online</div>
							<h4><a href="#">Special Education Leaders Network by West40</a></h4>
							<div class="clearfix">
								<div class="pull-left">
									<div class="post-date">September 1, 2025</div>
								</div>
								<div class="pull-right">
									<a href="#" class="attend-link">Attend</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Event Block Two -->
				<div class="event-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="#"><img src="{% static 'images2/resource/event-5.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="category">school</div>
							<h4><a href="#">Salters' Chemistry Club Handbook</a></h4>
							<div class="clearfix">
								<div class="pull-left">
									<div class="post-date">September 1, 2025</div>
								</div>
								<div class="pull-right">
									<a href="#" class="attend-link">Attend</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Event Block Two -->
				<div class="event-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="#"><img src="{% static 'images2/resource/event-6.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="category">Online</div>
							<h4><a href="#">International Day of Peace September 21</a></h4>
							<div class="clearfix">
								<div class="pull-left">
									<div class="post-date">September 1, 2025</div>
								</div>
								<div class="pull-right">
									<a href="#" class="attend-link">Attend</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Related Events Section -->
	
	{% endblock %}
