{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>LeBari Education HTML-5 Template | Homepage 01</title>
<!-- Stylesheets -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}?v=2" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'js/respond.js' %}"></script><![endif]-->
</head>

<body class="hidden-bar-wrapper">

<div class="page-wrapper">
 	
    <!-- Preloader -->
    <div class="preloader"></div>
 	
 	<!-- Main Header-->
    <header class="main-header">
    	
		<!--Header-Upper-->
        <div class="header-upper">
        	<div class="outer-container clearfix">
            	
				<div class="pull-left logo-box">
					<div class="logo"><a href="{% url 'index' %}">{% if settings and settings.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ settings.logo_text }}</h2>
{% elif site_setting and settings.logo_type == 'image' and settings.logo %}
    <img src="{{ settings.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}</a></div>
				</div>
				
				<div class="nav-outer clearfix">
					<!--Mobile Navigation Toggler-->
					<div class="mobile-nav-toggler"><span class="icon flaticon-menu"></span></div>
					<!-- Main Menu -->
					<nav class="main-menu navbar-expand-md">
						<div class="navbar-header">
							<!-- Toggle Button -->    	
							<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						
												<div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
							<ul class="navigation clearfix">
								<li class="{% if request.resolver_match.url_name == 'index' %}current{% endif %}"><a href="{% url 'index' %}">Home</a></li>
								<li class="dropdown {% if 'about' in request.resolver_match.url_name or 'teacher' in request.resolver_match.url_name %}current{% endif %}"><a href="#">About</a>
									<ul>
										<li><a href="{% url 'about' %}">About Us</a></li>
										<li><a href="{% url 'faq' %}">Faq</a></li>
										<li><a href="{% url 'teacher' %}">Teachers</a></li>
										<li><a href="{% url 'membership' %}">Membership</a></li>
										<li><a href="{% url 'event_list' %}">Events</a></li>
									</ul>
								</li>
								<li class="{% if 'course' in request.resolver_match.url_name %}current{% endif %}"><a href="{% url 'course_list' %}">Courses</a></li>
								<li class="{% if 'blog' in request.resolver_match.url_name %}current{% endif %}"><a href="{% url 'blog_list' %}">Blog</a></li>
								{% if user.is_authenticated %}
								<li class="dropdown {% if 'profile' in request.resolver_match.url_name %}current{% endif %}"><a href="#">Profile</a>
									<ul>
										<li><a href="{% url 'profile' %}">Dashboard</a></li>
										<li><a href="{% url 'logout' %}">Logout</a></li>
									</ul>
								</li>
								{% else %}
								<li><a href="{% url 'login' %}">Login / Register</a></li>
								{% endif %}
								<li class="{% if request.resolver_match.url_name == 'contact' %}current{% endif %}"><a href="{% url 'contact' %}">Contact</a></li>
							</ul>
						</div>
					</nav>
					
					<!-- Main Menu End-->
					<div class="outer-box clearfix">
						
						<!-- Search -->
						<div class="search-box">
							<form method="get" action="{% url 'course_list' %}">
								<div class="form-group">
									<input type="search" name="q" value="{{ request.GET.q|default:'' }}" placeholder="What do we want learn" required>
									<button type="submit"><span class="icon fa fa-search"></span></button>
								</div>
							</form>
						</div>
						
						<!-- Social Box -->
						<ul class="social-box">
							<li class="instagram"><a target="_blank" href="http://instagram.com/" class="fa fa-instagram"></a></li>
							<li class="facebook"><a target="_blank" href="http://facebook.com/" class="fa fa-facebook-f"></a></li>
							<li class="twitter"><a target="_blank" href="http://twitter.com/" class="fa fa-twitter"></a></li>
							<li class="pinterest"><a target="_blank" href="http://pinterest.com/" class="fa fa-pinterest-p"></a></li>
						</ul>
							
					</div>
				</div>
				
            </div>
        </div>
        <!--End Header Upper-->
        
		<!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="{% url 'index' %}" title="">{% if settings and settings.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ settings.logo_text }}</h2>
{% elif site_setting and settings.logo_type == 'image' and settings.logo %}
    <img src="{{ settings.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}</a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
					<!-- Main Menu End-->
					
					<!-- Main Menu End-->
					<div class="outer-box clearfix">
						
					</div>
					
                </div>
            </div>
        </div>
		<!-- End Sticky Menu -->
    
		<!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-multiply"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="{% url 'index' %}">{% if settings and settings.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ settings.logo_text }}</h2>
{% elif site_setting and settings.logo_type == 'image' and settings.logo %}
    <img src="{{ settings.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}</a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
            </nav>
        </div><!-- End Mobile Menu -->
	
    </header>
    <!-- End Main Header -->
{% block content %}
{% endblock %}
<!-- Main Footer -->
    <footer class="main-footer">
		<div class="circle-layer"></div>
		<div class="pattern-layer-one" style="background-image: url({% static 'images/background/pattern-12.png' %})"></div>
		<div class="pattern-layer-two" style="background-image: url({% static 'images/background/pattern-13.png' %})"></div>
		<div class="pattern-layer-three" style="background-image: url({% static 'images/background/pattern-14.png' %})"></div>
		<div class="pattern-layer-four" style="background-image: url({% static 'images/background/pattern-13.png' %})"></div>
    	<div class="auto-container">
        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">
                	
					<!-- Footer Column -->
					<div class="footer-column col-lg-5 col-md-12 col-sm-12">
						<div class="footer-widget logo-widget">
							<div class="logo">
								<a href="{% url 'index' %}">{% if settings and settings.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ settings.logo_text }}</h2>
{% elif site_setting and settings.logo_type == 'image' and settings.logo %}
    <img src="{{ settings.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}</a>
							</div>
														<ul class="info-list">
								<li>Tel:<a href="tel:{{ settings.phone|default:'+0845-371-02-02' }}"> {{ settings.phone|default:'0845 371 02 02' }}</a></li>
								<li>Email:<a href="mailto:{{ settings.email|default:'info@yoursite.co.uk' }}"> {{ settings.email|default:'info@yoursite.co.uk' }}</a></li>
							</ul>
							<!-- Social Box -->
							<ul class="social-box">
								{% if settings and settings.twitter_url %}
								<li class="twitter"><a target="_blank" href="{{ settings.twitter_url }}" class="fa fa-twitter"></a></li>
								{% endif %}
								{% if settings and settings.facebook_url %}
								<li class="facebook"><a target="_blank" href="{{ settings.facebook_url }}" class="fa fa-facebook-f"></a></li>
								{% endif %}
								{% if settings and settings.instagram_url %}
								<li class="instagram"><a target="_blank" href="{{ settings.instagram_url }}" class="fa fa-instagram"></a></li>
								{% endif %}
								{% if settings and settings.youtube_url %}
								<li class="youtube"><a target="_blank" href="{{ settings.youtube_url }}" class="fa fa-youtube-play"></a></li>
								{% endif %}
							</ul>
							<div class="text">{% if sections.footer_text %}{{ sections.footer_text.text|safe }}{% else %}Get started now and take advantage of <br> our 30 day free trial today.{% endif %}</div>
						</div>
					</div>
					
					<!-- Footer Column -->
					<div class="footer-column col-lg-7 col-md-12 col-sm-12">
						<div class="row clearfix">
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<h5>About</h5>
								<ul class="list">
									<li><a href="{% url 'about' %}">About Us</a></li>
									<li><a href="{% url 'blog_list' %}">News & Blog</a></li>
									<li><a href="{% url 'teacher' %}">Our Team</a></li>
									<li><a href="{% url 'contact' %}">Contact Us</a></li>
								</ul>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<h5>Need some help?</h5>
								<ul class="list">
									<li><a href="{% url 'faq' %}">FAQs</a></li>
									<li><a href="{% url 'contact' %}">Help Centre</a></li>
									<li><a href="{% url 'register' %}">Create Account</a></li>
									<li><a href="{% url 'login' %}">Login</a></li>
								</ul>
							</div>
							<!-- Column -->
							<div class="column col-lg-4 col-md-4 col-sm-12">
								<h5>Links</h5>
								<ul class="list">
									<li><a href="{% url 'course_list' %}">All Courses</a></li>
									<li><a href="{% url 'membership' %}">Membership</a></li>
									<li><a href="{% url 'event_list' %}">Events</a></li>
									<li><a href="{% url 'donation' %}">Donation</a></li>
								</ul>
							</div>
					</div>
					
				</div>
			</div>
			
			<!-- Lower Box -->
            <div class="lower-box">
            	<div class="row clearfix">
					<div class="col-lg-6 col-lg-6 col-sm-12">
						<!-- Subscribe Form -->
						<div class="subscribe-form">
							<h6>Newsletter</h6>
							<form method="post" action="{% url 'subscribe' %}">
{% csrf_token %}
                                {% if messages %}
                                    {% for message in messages %}
                                        <div style="color: {% if message.tags == 'success' %}#00C853{% else %}#fff{% endif %}; margin-bottom: 10px;">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
								<div class="form-group">
									<input type="email" name="email" value="" placeholder="Your email" required>
									<button type="submit" class="submit-btn"><span class="icon flaticon-right-arrow-2"></span></button>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-6 col-lg-6 col-sm-12">
						<div class="text">{% if sections.footer_cta %}{{ sections.footer_cta.text|safe }}{% else %}Need to train your team? We offer flexible, cost-effective <br> group memberships for your business, school,{% endif %}</div>
						<a href="{% if sections.footer_cta %}{{ sections.footer_cta.link|default:'#' }}{% else %}#{% endif %}" class="singup">{% if sections.footer_cta %}{{ sections.footer_cta.title }}{% else %}Free Singup{% endif %}</a>
					</div>
				</div>
			</div>
			
			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="row clearfix">
					
					<!-- Copyright Column -->
					<div class="copyright-column col-lg-6 col-md-12 col-sm-12">
						<div class="copyright">{% if sections.footer_copyright %}{{ sections.footer_copyright.title|safe }}{% else %}Copyright 2026, All Right Reserved{% endif %}</div>
					</div>
					
					<!-- Nav Column -->
					<div class="nav-column col-lg-6 col-md-12 col-sm-12">
						<ul>
							<li><a href="{% url 'about' %}">SiteMap</a></li>
							<li><a href="{% url 'about' %}">Privacy Policy</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
		</div>
	</footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/appear.js' %}"></script>
<script src="{% static 'js/parallax.min.js' %}"></script>
<script src="{% static 'js/tilt.jquery.min.js' %}"></script>
<script src="{% static 'js/jquery.paroller.min.js' %}"></script>
<script src="{% static 'js/owl.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="{% static 'js/nav-tool.js' %}"></script>
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script src="{% static 'js/validate.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>
