{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">
					
					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="{% url 'index' %}">{% if settings and settings.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ settings.logo_text }}</h2>
{% elif site_setting and settings.logo_type == 'image' and settings.logo %}
    <img src="{{ settings.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}</a>
							</div>
							<div class="content-box">
								<h2>{% if sections.sidebar_about %}{{ sections.sidebar_about.title|safe }}{% else %}About Us{% endif %}</h2>
								<div class="text">{% if sections.sidebar_about %}{{ sections.sidebar_about.text|safe }}{% else %}<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>{% endif %}</div>
								<a href="{% if sections.sidebar_about %}{{ sections.sidebar_about.button_link|default:'#' }}{% else %}#{% endif %}" class="theme-btn btn-style-two"><span class="txt">{% if sections.sidebar_about %}{{ sections.sidebar_about.button_text }}{% else %}Consultation{% endif %}</span></a>
							</div>
														<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-two">
									<li><span class="icon fa fa-location-arrow"></span>{{ settings.address|default:'Chicago 12, Melborne City, USA' }}</li>
									<li><span class="icon fa fa-phone"></span>{{ settings.phone|default:'(111) 111-111-1111' }}</li>
									<li><span class="icon fa fa-envelope"></span>{{ settings.email|default:'lebari@gmail.com' }}</li>
									<li><span class="icon fa fa-clock-o"></span>{{ settings.opening_hours|default:'Week Days: 09.00 to 18.00 Sunday: Closed' }}</li>
								</ul>
							</div>
							<!-- Social Box -->
							<ul class="social-box">
								{% if settings and settings.facebook_url %}
								<li class="facebook"><a href="{{ settings.facebook_url }}" class="fa fa-facebook-f"></a></li>
								{% endif %}
								{% if settings and settings.twitter_url %}
								<li class="twitter"><a href="{{ settings.twitter_url }}" class="fa fa-twitter"></a></li>
								{% endif %}
								{% if settings and settings.instagram_url %}
								<li class="instagram"><a href="{{ settings.instagram_url }}" class="fa fa-instagram"></a></li>
								{% endif %}
								{% if settings and settings.youtube_url %}
								<li class="youtube"><a href="{{ settings.youtube_url }}" class="fa fa-youtube"></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
	
	<!-- Blog Detail Section -->
    <section class="blog-page-section">
		<div class="pattern-layer-one" style="background-image: url({% static 'images/icons/icon-5.png' %})"></div>
		<div class="pattern-layer-two" style="background-image: url({% static 'images/icons/icon-6.png' %})"></div>
		<div class="pattern-layer-three" style="background-image: url({% static 'images/icons/icon-4.png' %})"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li>{{ blog_page.banner_subtitle|default:"Blog default" }}</li>
			</ul>
			<div class="content-box">
				<h2>{{ blog_page.banner_title|safe|default:"Latest articles & news" }}</h2>
				<div class="text">{{ blog_page.banner_text|safe|default:"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Duis aute irure dolor in reprehenderit in" }}</div>
			</div>
		</div>
		<div class="outer-container">
			<div class="row clearfix">
				{% for post in posts %}
				<!-- News Block / Style Two -->
				<div class="news-block style-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{{ post.get_absolute_url }}">
								{% if post.image %}
								<img src="{{ post.image.url }}" alt="{{ post.title }}" />
								{% elif blog_page.default_post_image %}
								<img src="{{ blog_page.default_post_image.url }}" alt="{{ post.title }}" />
								{% else %}
								<img src="{% static 'images/resource/news-6.jpg' %}" alt="{{ post.title }}" />
								{% endif %}
							</a>
						</div>
						<div class="lower-content">
							<div class="border-layer"></div>
							<ul class="post-info">
								<li>{{ post.category.name }}</li>
								<li>Updated {{ post.updated_at|date:"M d, Y" }}</li>
							</ul>
							<h4><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:50 }}</a></h4>
							<a href="{{ post.get_absolute_url }}" class="more">More <span class="fa fa-angle-double-right"></span></a>
						</div>
					</div>
				</div>
				{% empty %}
				<div class="col-12"><p>No posts available at the moment.</p></div>
				{% endfor %}
			</div>
			
			<!-- Button Box -->
			<div class="btn-box text-center">
				<a href="{% if blog_page.button_link %}{{ blog_page.button_link }}{% else %}{% url 'default_blog_detail' %}{% endif %}" class="theme-btn btn-style-five">{{ blog_page.button_text|default:"View More Artical" }}</a>
			</div>
			
		</div>
	</section>
	<!-- End Cource Detail Banner Section -->
	
	
{% endblock %}
