{% extends 'base.html' %}
{% load static %}
{% block content %}

	
	<!-- Sidebar Cart Item -->
	<div class="xs-sidebar-group info-group">
		<div class="xs-overlay xs-bg-black"></div>
		<div class="xs-sidebar-widget">
			<div class="sidebar-widget-container">
				<div class="widget-heading">
					<a href="#" class="close-side-widget">
						X
					</a>
				</div>
				<div class="sidebar-textwidget">
					
					<!-- Sidebar Info Content -->
					<div class="sidebar-info-contents">
						<div class="content-inner">
							<div class="logo">
								<a href="{% url 'index' %}">{% if settings and settings.logo_type == 'text' %}
    <h2 style="color: inherit; font-weight: bold; margin: 0; line-height: 1;">{{ settings.logo_text }}</h2>
{% elif site_setting and settings.logo_type == 'image' and settings.logo %}
    <img src="{{ settings.logo.url }}" alt="Logo" title="">
{% else %}
    <img src="{% static 'images/logo-white.png' %}?v=2" alt="Logo" title="">
{% endif %}</a>
							</div>
							<div class="content-box">
								<h2>{% if sections.contact_banner %}{{ sections.contact_banner.title|safe }}{% else %}About Us{% endif %}</h2>
								<p class="text">The argument in favor of using filler text goes something like this: If you use real content in the Consulting Process, anytime you reach a review point you’ll end up reviewing and negotiating the content itself and not the design.</p>
								<a href="#" class="theme-btn btn-style-two"><span class="txt">Consultation</span></a>
							</div>
							<div class="contact-info">
								<h2>Contact Info</h2>
								<ul class="list-style-two">
									<li><span class="icon fa fa-location-arrow"></span>{{ settings.address|default:"Chicago 12, Melborne City, USA" }}</li>
									<li><span class="icon fa fa-phone"></span>{{ settings.phone|default:"(111) 111-111-1111" }}</li>
									<li><span class="icon fa fa-envelope"></span>{{ settings.email|default:"lebari@gmail.com" }}</li>
									<li><span class="icon fa fa-clock-o"></span>{{ settings.opening_hours|default:"Week Days: 09.00 to 18.00 Sunday: Closed" }}</li>
								</ul>
							</div>
							<ul class="social-box">
								{% if settings and settings.facebook_url %}
								<li class="facebook"><a target="_blank" href="{{ settings.facebook_url }}" class="fa fa-facebook-f"></a></li>
								{% endif %}
								{% if settings and settings.twitter_url %}
								<li class="twitter"><a target="_blank" href="{{ settings.twitter_url }}" class="fa fa-twitter"></a></li>
								{% endif %}
								{% if settings and settings.instagram_url %}
								<li class="instagram"><a target="_blank" href="{{ settings.instagram_url }}" class="fa fa-instagram"></a></li>
								{% endif %}
								{% if settings and settings.youtube_url %}
								<li class="youtube"><a target="_blank" href="{{ settings.youtube_url }}" class="fa fa-youtube-play"></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	<!-- END sidebar widget item -->
	
	<!-- Contact Banner Section -->
    <section class="contact-banner-section">
		<div class="pattern-layer-one" style="background-image: url({% static 'images/icons/icon-5.png' %})"></div>
		<div class="pattern-layer-two" style="background-image: url({% static 'images/icons/icon-6.png' %})"></div>
		<div class="pattern-layer-three" style="background-image: url({% static 'images/icons/icon-4.png' %})"></div>
		<div class="auto-container">
			<!-- Page Breadcrumb -->
			<ul class="page-breadcrumb">
				<li><a href="{% url 'index' %}">Home</a></li>
				<li>{{ contactpage.banner_subtitle }}</li>
			</ul>
			<div class="content-box">
				<h2>{{ contactpage.banner_title }}</h2>
				<div class="text">{{ contactpage.banner_text|safe }}</div>
			</div>
		</div>
	</section>
	<!-- End Contact Banner Section -->
	
	<!-- Contact Page Section -->
    <section class="contact-page-section">
		<div class="pattern-layer-three" style="background-image: url({% static 'images/icons/icon-8.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Info Column -->
				<div class="info-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">{{ contactpage.info_subtitle }}</div>
						<h2>{{ contactpage.info_title|safe }}</h2>
						<div class="text">{{ contactpage.info_text|safe }}</div>
						<ul>
							<li><span>Address</span>{{ settings.address|default:"56 Glassford Street Glasgow G1 1UL New York" }}</li>
							<li><span>Our Phone</span>Telephone : {{ settings.phone|default:"028577101" }}</li>
							<li><span>Our Email</span>{{ settings.email|default:"lebari@gmail.com" }}</li>
							<li><span>Opening Hours</span>{{ settings.opening_hours|default:"Monday to Saturday: 9.00am to 16.pm" }}</li>
						</ul>
					</div>
				</div>
				
				<!-- Form Column -->
				<div class="form-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="circle-layer"></div>
						<div class="pattern-layer-one" style="background-image: url({% static 'images/icons/icon-7.png' %})"></div>
						<div class="pattern-layer-two" style="background-image: url({% static 'images/icons/icon-9.png' %})"></div>
						<h2>{{ contactpage.form_title|safe }}</h2>
						<div class="text">{{ contactpage.form_text|safe }}</div>
						
						<!-- Contact Form -->
						<div class="contact-form">
							
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            <form method="post" action="{% url 'contact' %}" id="contact-form">
                                {% csrf_token %}

								
								<div class="form-group">
									<input type="text" name="username" placeholder="{{ labels.contact_form_name_placeholder|default:'Name' }}" required="">
								</div>
								
								<div class="form-group">
									<input type="email" name="email" placeholder="{{ labels.contact_form_email_placeholder|default:'Email' }}" required="">
								</div>
								
								<div class="form-group">
									<input type="text" name="subject" placeholder="{{ labels.contact_form_subject_placeholder|default:'Subject' }}" required="">
								</div>
								
								<div class="form-group">
									<textarea class="" name="message" placeholder="{{ labels.contact_form_message_placeholder|default:'Comment' }}"></textarea>
								</div>
								
								<div class="form-group">
									<button class="theme-btn btn-style-five" type="submit" name="submit-form">{{ contactpage.form_button_text }}</button>
								</div>
								
							</form>
						</div>
							
					</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Contact Page Section -->
	
	<!-- Map Contact Section -->
	<section class="map-contact-section">
		<div class="auto-container">
			<!-- Map Boxed -->
			<div class="map-boxed">
				<!-- Map Outer -->
				<div class="map-outer">
					<iframe src="{{ settings.map_url|default:'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d805184.6331292129!2d144.49266890254142!3d-37.97123689954809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad646b5d2ba4df7%3A0x4045675218ccd90!2sMelbourne%20VIC%2C%20Australia!5e0!3m2!1sen!2s!4v1574408946759!5m2!1sen!2s' }}" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
				</div>
			</div>
		</div>
	</section>
	<!-- End Map Contact Section -->
	
	
{% endblock %}
