{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Event Detail Section -->
	<section class="event-detail-section">
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<h5>Event Description</h5>
						<p>{{ event.description }}</p>
						<div class="image">
							<img src="{% if event.image %}{{ event.image.url }}{% else %}{% static 'images/resource/event-10.jpg' %}{% endif %}" alt="{{ event.title }}" />
						</div>
						
						<!-- Social Box -->
						<ul class="social-box">
							<span class="fa fa-share-alt"></span>
							<li class="twitter"><a target="_blank" href="{{ settings.twitter_url|default:'#' }}" class="fa fa-twitter"></a></li>
							<li class="pinterest"><a target="_blank" href="{{ settings.pinterest_url|default:'#' }}" class="fa fa-pinterest-p"></a></li>
							<li class="facebook"><a target="_blank" href="{{ settings.facebook_url|default:'#' }}" class="fa fa-facebook-f"></a></li>
							<li class="dribbble"><a target="_blank" href="{{ settings.dribbble_url|default:'#' }}" class="fa fa-dribbble"></a></li>
						</ul>
						
					</div>
				</div>
				
				<!-- Info Column -->
				<div class="info-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column">
						<h5>Archives</h5>
						
						<!-- Select Month -->
						<div class="select-month">
							<!-- Form Group -->
							<div class="form-group">
								<select name="country" class="custom-select-box">
									<option>Select Months</option>
									<option>January</option>
									<option>March</option>
									<option>April</option>
									<option>June</option>
								</select>
							</div>
						</div>
						
						<!-- Popular Posts -->
						<div class="popular-tags-box">
							<div class="title-box">
								<h5>Tags</h5>
							</div>
							<div class="widget-content">
								<span>{{ event.category|default:"Education" }}</span>
								<span>Seminar</span>
								<span>Learning</span>
							</div>
						</div>
						
						<!-- Event Widget -->
						<div class="event-widget">
							<h6>This Event includes:</h6>
							<div class="text">{{ event.description|default:"Detailed description of the event will be provided here." }}</div>
							
							<!-- Event Organizer -->
							<div class="event-organizer">
								<div class="organizer">Organizers:</div>
								<ul class="organizer-list">
									<li>
										<strong>Mr Sumon Molla</strong>
										Email : sumon@example.com
									</li>
									<li>
										<strong>Mahfuz Riad</strong>
										Email : sumon@example.com
									</li>
								</ul>
								
								<div class="lecturer">Lecturer:</div>
								<ul class="organizer-list">
									<li>
										<strong>{% if sections.event_lecturer %}{{ sections.event_lecturer.title|safe }}{% else %}{{ settings.logo_text|default:"Admin" }}{% endif %}</strong>
										Email : {{ settings.email|default:'sumon@example.com' }}
									</li>
								</ul>
								
							</div>
							
						</div>
						
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Event Detail Section -->
	
	<!-- Related Events Section -->
	<section class="related-events-section">
		<div class="auto-container">
			<!-- Title Box -->
			<div class="title-box">
				<h3>Related Events</h3>
			</div>
			<div class="row clearfix">
				
				{% for related_event in recent_events %}
				<!-- Event Block Two -->
				<div class="event-block-two col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<a href="{% url 'event_detail' related_event.slug %}"><img src="{% if related_event.image %}{{ related_event.image.url }}{% else %}{% static 'images/resource/event-4.jpg' %}{% endif %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="category">{{ related_event.location }}</div>
							<h4><a href="{% url 'event_detail' related_event.slug %}">{{ related_event.title }}</a></h4>
							<div class="clearfix">
								<div class="pull-left">
									<div class="post-date">{{ related_event.date|date:"F j, Y" }}</div>
								</div>
								<div class="pull-right">
									<a href="{% url 'event_detail' related_event.slug %}" class="attend-link">Attend</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</section>
	<!-- End Related Events Section -->
	
	{% endblock %}
