{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner Slider Six -->
    <section class="banner-section-six">
		<div class="pattern-layer" style="background-image:url({% static 'images/main-slider/pattern-10.png' %})"></div>
		<div class="single-item-carousel owl-carousel owl-theme">
            
			<!-- Slide -->
			<div class="slide" style="background-image:url({% static 'images/main-slider/image-4.jpg' %})">
				<div class="auto-container">
					<div class="content-boxed">
						<div class="inner-column">
							<div class="title">Peace of Mind Guaranteed</div>
							<h1>Your Future Beguns Our <br> best <span>University</span></h1>
							<a class="theme-btn btn-style-eight" href="{% url 'contact' %}"><span class="txt">Apply Today</span></a>
							<a class="theme-btn btn-style-thirteen" href="{% url 'contact' %}"><span class="txt">View All Courses</span></a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Slide -->
			<div class="slide" style="background-image:url({% static 'images/main-slider/image-5.jpg' %})">
				<div class="auto-container">
					<div class="content-boxed">
						<div class="inner-column">
							<div class="title">Peace of Mind Guaranteed</div>
							<h1>Your Future Beguns Our <br> best <span>University</span></h1>
							<a class="theme-btn btn-style-eight" href="{% url 'contact' %}"><span class="txt">Apply Today</span></a>
							<a class="theme-btn btn-style-thirteen" href="{% url 'contact' %}"><span class="txt">View All Courses</span></a>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Slide -->
			<div class="slide" style="background-image:url({% static 'images/main-slider/image-4.jpg' %})">
				<div class="auto-container">
					<div class="content-boxed">
						<div class="inner-column">
							<div class="title">Peace of Mind Guaranteed</div>
							<h1>Your Future Beguns Our <br> best <span>University</span></h1>
							<a class="theme-btn btn-style-eight" href="{% url 'contact' %}"><span class="txt">Apply Today</span></a>
							<a class="theme-btn btn-style-thirteen" href="{% url 'contact' %}"><span class="txt">View All Courses</span></a>
						</div>
					</div>
				</div>
			</div>
			
        </div>
    </section>
    <!-- End Banner Slider Three -->
	
	<!-- Admission Section -->
    <section class="admission-section">
		<div class="color-circle"></div>
		<div class="pattern-layer-one" style="background-image:url({% static 'images/icons/icon-19.png' %})"></div>
		<div class="auto-container">
            <div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/about-4.jpg' %}" alt="" />
						</div>
						<div class="image-two wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/about-5.jpg' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title-three">
							<div class="title">Apply for Admission</div>
							<h2>Study with the <br> University of <span>London,</span> <br> anywhere in the world</h2>
						</div>
						<div class="text">Our unique learning environment sparks physical growth and discovery while our creative curriculum which combines the traditional and the progressive </div>
						<div class="row clearfix">
							
							<!-- Feature Column -->
							<div class="feature-column col-lg-6 col-md-6 col-sm-12">
								<div class="feature-inner">
									<div class="icon"><img src="{% static 'images/icons/feature-3.png' %}" alt="" /></div>
									<strong>Undergraduate</strong>
									With flexible courses
								</div>
							</div>
							
							<!-- Feature Column -->
							<div class="feature-column col-lg-6 col-md-6 col-sm-12">
								<div class="feature-inner">
									<div class="icon"><img src="{% static 'images/icons/feature-4.png' %}" alt="" /></div>
									<strong>Postgraduate</strong>
									Study flexibly online
								</div>
							</div>
							
						</div>
						<!-- Button Box -->
						<div class="button-box">
							<a class="theme-btn btn-style-nine" href="{% url 'about' %}"><span class="txt">Apply Now</span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End About Slider -->
	
	<!-- Courses Section Three -->
	<section class="courses-section-three">
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<a href="#" class="overlay-box"></a>
						<div class="icon flaticon-web-search-engine"></div>
						<h4>Undergraduate</h4>
						<div class="text">Study here and you are part of a close-knit, vibrant</div>
					</div>
				</div>
				
				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<a href="#" class="overlay-box"></a>
						<div class="icon flaticon-team"></div>
						<h4>Postgraduate </h4>
						<div class="text">Study here and you are part of a close-knit, vibrant</div>
					</div>
				</div>
				
				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<a href="#" class="overlay-box"></a>
						<div class="icon flaticon-open-book"></div>
						<h4>Short courses</h4>
						<div class="text">Study here and you are part of a close-knit, vibrant</div>
					</div>
				</div>
				
				<!-- Feature Block Six -->
				<div class="feature-block-six col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<a href="#" class="overlay-box"></a>
						<div class="icon flaticon-graduation-cap"></div>
						<h4>Online learning</h4>
						<div class="text">Study here and you are part of a close-knit, vibrant</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Courses Section Three -->
	
	<!-- Courses Section Four -->
	<section class="courses-section-four">
		<div class="pattern-layer-one" style="background-image:url({% static 'images/background/pattern-25.png' %})"></div>
		<div class="pattern-layer-two" style="background-image:url({% static 'images/background/pattern-26.png' %})"></div>
		<div class="pattern-layer-three" style="background-image:url({% static 'images/background/pattern-27.png' %})"></div>
		<div class="pattern-layer-four" style="background-image:url({% static 'images/background/pattern-28.png' %})"></div>
		<div class="pattern-layer-five" style="background-image:url({% static 'images/background/pattern-29.png' %})"></div>
		<div class="auto-container">
			<div class="sec-title-three centered">
				<div class="title">Our Courses</div>
				<h2>Choose From Our Top Courses <br> Dedicated <span>Degrees</span> Programmers</h2>
			</div>
			<div class="row clearfix">
				
				<!-- Course Block Five -->
				<div class="course-block-five col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/course-1.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="price">$46</div>
							<div class="category">Enginner</div>
							<h3><a href="#">Chemical Engineering</a></h3>
							<div class="text">We offer a broad range of undergraduate courses starting in September.</div>
							<a href="#" class="apply-here">Apply Now</a>
						</div>
					</div>
				</div>
				
				<!-- Course Block Five -->
				<div class="course-block-five col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/course-2.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="price">Free</div>
							<div class="category">Biological</div>
							<h3><a href="#">Biological & Marine</a></h3>
							<div class="text">We offer a broad range of undergraduate courses starting in September.</div>
							<a href="#" class="apply-here">Apply Now</a>
						</div>
					</div>
				</div>
				
				<!-- Course Block Five -->
				<div class="course-block-five col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/course-3.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="price">Free</div>
							<div class="category">Economics</div>
							<h3><a href="#">Economics</a></h3>
							<div class="text">We offer a broad range of undergraduate courses starting in September.</div>
							<a href="#" class="apply-here">Apply Now</a>
						</div>
					</div>
				</div>
				
				<!-- Course Block Five -->
				<div class="course-block-five col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/course-4.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="price">$46</div>
							<div class="category">Enginner</div>
							<h3><a href="#">Biological & Marine</a></h3>
							<div class="text">We offer a broad range of undergraduate courses starting in September.</div>
							<a href="#" class="apply-here">Apply Now</a>
						</div>
					</div>
				</div>
				
				<!-- Course Block Five -->
				<div class="course-block-five col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="150ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/course-5.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="price">$56</div>
							<div class="category">Business</div>
							<h3><a href="#">Business and Finance</a></h3>
							<div class="text">We offer a broad range of undergraduate courses starting in September.</div>
							<a href="#" class="apply-here">Apply Now</a>
						</div>
					</div>
				</div>
				
				<!-- Course Block Five -->
				<div class="course-block-five col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="#"><img src="{% static 'images/resource/course-6.jpg' %}" alt="" /></a>
						</div>
						<div class="lower-content">
							<div class="price">Free</div>
							<div class="category">School</div>
							<h3><a href="#">Economics</a></h3>
							<div class="text">We offer a broad range of undergraduate courses starting in September.</div>
							<a href="#" class="apply-here">Apply Now</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Courses Section Four -->
	
	<!-- Study Section -->
	<section class="study-section">
		<div class="pattern-layer-one" style="background-image:url({% static 'images/background/pattern-30.png' %})"></div>
		<div class="pattern-layer-two" style="background-image:url({% static 'images/background/pattern-31.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
			
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>Why study at the <br> University of Lebari</h2>
						<div class="bold-text">Apply today for one of our undergraduate degrees find your Courses</div>
						<ul class="list">
							<li>Nec elementum ipsum convall. Aliquam erat volutpat In id fermentum augue, ut pellentesque leo cus</li>
							<li>Aliquam erat volutpat In id fermentum augue, ut</li>
							<li>Get unlimited access to 4,000+ of our top courses</li>
							<li>Find the right instructor for you</li>
						</ul>
						<!-- Button Box -->
						<div class="button-box">
							<a class="theme-btn btn-style-nine" href="{% url 'contact' %}">Apply Now</a>
						</div>
					</div>
					
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image">
							<img src="{% static 'images/resource/study.jpg' %}" alt="" />
						</div>
						<div class="hotline">
							<h3>Hotline. <br> (88) 110-5700</h3>
							<div class="text">Read by over 22,00+ Courses</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Study Section -->
	
	<!-- Campus Section -->
	<section class="campus-section">
		<div class="auto-container">
			<div class="sec-title-three centered">
				<div class="title">Our University</div>
				<h2>Our University <span>Campus</span> Life</h2>
			</div>
			<div class="row clearfix">
			
				<!-- Campus Block -->
				<div class="campus-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/campus-1.jpg' %}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Economics</a></h4>
										<div class="category">School</div>
									</div>
								</div>
							</div>
							<a href="images/resource/campus-1.jpg" data-fancybox="course-gallery" data-caption="" class="link"><span class="icon flaticon-full-screen"></span></a>
						</div>
					</div>
				</div>
				
				<!-- Campus Block -->
				<div class="campus-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/campus-2.jpg' %}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Economics</a></h4>
										<div class="category">School</div>
									</div>
								</div>
							</div>
							<a href="images/resource/campus-2.jpg" data-fancybox="course-gallery" data-caption="" class="link"><span class="icon flaticon-full-screen"></span></a>
						</div>
					</div>
				</div>
				
				<!-- Campus Block -->
				<div class="campus-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/campus-3.jpg' %}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Economics</a></h4>
										<div class="category">School</div>
									</div>
								</div>
							</div>
							<a href="images/resource/campus-3.jpg" data-fancybox="course-gallery" data-caption="" class="link"><span class="icon flaticon-full-screen"></span></a>
						</div>
					</div>
				</div>
				
				<!-- Campus Block -->
				<div class="campus-block col-lg-3 col-md-6 col-sm-12">
					<div class="inner-box">
						<div class="image">
							<img src="{% static 'images/resource/campus-4.jpg' %}" alt="" />
							<!-- Overlay Box -->
							<div class="overlay-box">
								<div class="overlay-inner">
									<div class="content">
										<h4><a href="#">Economics</a></h4>
										<div class="category">School</div>
									</div>
								</div>
							</div>
							<a href="images/resource/campus-4.jpg" data-fancybox="course-gallery" data-caption="" class="link"><span class="icon flaticon-full-screen"></span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Campus Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section-five" style="background-image:url({% static 'images/background/pattern-32.png' %})">
		<div class="pattern-layer-two" style="background-image:url({% static 'images/background/pattern-33.png' %})"></div>
		<div class="pattern-layer-four" style="background-image:url({% static 'images/background/pattern-34.png' %})"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title-three centered">
				<div class="title">Testimonial</div>
				<h2>People who already <span>love us</span></h2>
			</div>
			<div class="inner-container">
				<div class="pattern-layer-one" style="background-image:url({% static 'images/background/pattern-22.png' %})"></div>
				<div class="pattern-layer-three" style="background-image:url({% static 'images/background/pattern-22.png' %})"></div>
				<div class="hm5-testimonial-carousel owl-carousel owl-theme">
					
					<!-- Testimonial Block -->
					<div class="testimonial-block-five">
						<div class="inner-box">
							<div class="text">“Ahead legitimate archly lizard forceful this some gurgled thus mercifully thus some guinea bandicoot favorably Our campuses”</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="quote-icon flaticon-quote-2"></div>
									<div class="author-image">
										<img src="{% static 'images/resource/author-7.jpg' %}" alt="" />
									</div>
									<h4>Tamim Momo</h4>
									<div class="designation">Online CourseTeacher</div>
									<div class="client-icon"><img src="{% static 'images/clients/11.png' %}" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Testimonial Block -->
					<div class="testimonial-block-five">
						<div class="inner-box">
							<div class="text">“Ahead legitimate archly lizard forceful this some gurgled thus mercifully thus some guinea bandicoot favorably Our campuses”</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="quote-icon flaticon-quote-2"></div>
									<div class="author-image">
										<img src="{% static 'images/resource/author-7.jpg' %}" alt="" />
									</div>
									<h4>Tamim Momo</h4>
									<div class="designation">Online CourseTeacher</div>
									<div class="client-icon"><img src="{% static 'images/clients/11.png' %}" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Testimonial Block -->
					<div class="testimonial-block-five">
						<div class="inner-box">
							<div class="text">“Ahead legitimate archly lizard forceful this some gurgled thus mercifully thus some guinea bandicoot favorably Our campuses”</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="quote-icon flaticon-quote-2"></div>
									<div class="author-image">
										<img src="{% static 'images/resource/author-7.jpg' %}" alt="" />
									</div>
									<h4>Tamim Momo</h4>
									<div class="designation">Online CourseTeacher</div>
									<div class="client-icon"><img src="{% static 'images/clients/11.png' %}" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Testimonial Block -->
					<div class="testimonial-block-five">
						<div class="inner-box">
							<div class="text">“Ahead legitimate archly lizard forceful this some gurgled thus mercifully thus some guinea bandicoot favorably Our campuses”</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="quote-icon flaticon-quote-2"></div>
									<div class="author-image">
										<img src="{% static 'images/resource/author-7.jpg' %}" alt="" />
									</div>
									<h4>Tamim Momo</h4>
									<div class="designation">Online CourseTeacher</div>
									<div class="client-icon"><img src="{% static 'images/clients/11.png' %}" alt="" /></div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	
	<!-- Newsletter Section Three -->
	<section class="newsletter-section-three style-two">
		<div class="auto-container">
			<div class="inner-container">
				<div class="icon-layer-one" style="background-image:url({% static 'images/icons/pattern-12.png' %})"></div>
				<div class="title-box">
					<div class="title">Signup Newsletter</div>
					<h2>Quickly Get Updates About Your Class <br> Event and News!</h2>
				</div>
				<!-- Newsletter Form -->
				<div class="newsletter-form-three">
					<form method="post" action="{% url 'contact' %}">
{% csrf_token %}
						<div class="form-group">
							<span class="icon fa fa-envelope-o"></span>
							<input type="email" name="email" value="" placeholder="Enter your eamil address" required>
							<button type="submit" class="flaticon-next-2 submit-btn"></button>
						</div>
					</form>
				</div>
				<div class="join-us">Join over <span>50,000</span> people getting our emails</div>
			</div>
		</div>
	</section>
	<!-- End Newsletter Section Three -->

{% endblock %}