{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Banner Section -->
    <section class="banner-section">
		<div class="auto-container">
            <div class="pattern-layer-six" style="background-image: url({% static 'images/main-slider/pattern-4.png' %})"></div>
			<div class="pattern-layer-seven" style="background-image: url({% static 'images/main-slider/pattern-5.png' %})"></div>
			<div class="pattern-layer-eight" style="background-image: url({% static 'images/main-slider/icon-2.png' %})"></div>
			<div class="row clearfix">
			
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="pattern-layer-one" style="background-image: url({% static 'images/main-slider/pattern-1.png' %})"></div>
						<div class="pattern-layer-two" style="background-image: url({% static 'images/main-slider/pattern-2.png' %})"></div>
						<div class="pattern-layer-three" style="background-image: url({% static 'images/main-slider/icon-1.png' %})"></div>
						<div class="pattern-layer-four" style="background-image: url({% static 'images/main-slider/pattern-3.png' %})"></div>
						<div class="pattern-layer-five" style="background-image: url({% static 'images/main-slider/icon-2.png' %})"></div>
						<div class="image">
							<img src="{% static 'images/main-slider/image-1.png' %}" alt="" />
						</div>
						<div class="image-two">
							<img src="{% static 'images/main-slider/image-4.png' %}" alt="" />
						</div>
						<div class="image-content" style="background-image: url({% static 'images/main-slider/pattern-6.png' %})">
							<p>87% of people <br> learning</p>
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="title">Learn the latest skills</div>
						<h1>Build skills with <br> courses flexible online <br> courses</h1>
						<div class="btns-box">
							<a href="{% url 'about' %}" class="theme-btn btn-style-one"><span class="txt">Join For free</span></a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Banner Section -->
	
	<!-- Instructor Section -->
	<section class="instructor-section">
		<div class="background-layer" style="background-image:url({% static 'images/background/1.png' %})"></div>
		<div class="background-layer-one" style="background-image:url({% static 'images/background/pattern-1.png' %})"></div>
		<div class="background-layer-two" style="background-image:url({% static 'images/background/pattern-2.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Blocks Column -->
				<div class="blocks-column col-lg-8 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="row clearfix">
							{% if features %}
							{% for feature in features %}
							<!-- Service Block -->
							<div class="service-block col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="border-layer"></div>
									<div class="icon-box">
										<div class="icon {{ feature.icon_class }}"></div>
									</div>
									<h4><a href="#">{{ feature.title }}</a></h4>
									<div class="text">{{ feature.text }}</div>
								</div>
							</div>
							{% endfor %}
							{% else %}
							<!-- Service Block -->
							<div class="service-block col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
									<div class="border-layer"></div>
									<div class="icon-box">
										<div class="icon flaticon-verify"></div>
									</div>
									<h4><a href="#">Trusted content</a></h4>
									<div class="text">Online learning is as easy and natural as chatting with a group of friends.</div>
								</div>
							</div>
							
							<!-- Service Block -->
							<div class="service-block col-lg-6 col-md-6 col-sm-12">
								<div class="inner-box wow fadeInLeft" data-wow-delay="150ms" data-wow-duration="1500ms">
									<div class="border-layer"></div>
									<div class="icon-box">
										<div class="icon flaticon-heart-box"></div>
									</div>
									<h4><a href="#">Flexible courses</a></h4>
									<div class="text">We provide online learning solutions for secondary education, from structured content to courses fully taught </div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				
				<!-- Instructor Column -->
				<div class="instructor-column col-lg-4 col-md-12 col-sm-12">
					<div class="inner-column wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
						<h4>{% if sections.home1_instructor %}{{ sections.home1_instructor.title }}{% else %}Become an instructor{% endif %}</h4>
						<p>{% if sections.home1_instructor %}{{ sections.home1_instructor.text|safe }}{% else %}Top instructors from around the world teach millions of students  Duis aute irure dolor in reprehenderit in <br> voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non{% endif %}</p>
						<a class="click-here" href="{% if sections.home1_instructor %}{{ sections.home1_instructor.button_link }}{% else %}{% url 'membership' %}{% endif %}">{% if sections.home1_instructor %}{{ sections.home1_instructor.button_text }}{% else %}Click here for apply{% endif %}</a>
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% if sections.home1_instructor and sections.home1_instructor.image %}{{ sections.home1_instructor.image.url }}{% else %}{% static 'images/resource/instructor.png' %}{% endif %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Instructor Section -->
	
	<!-- Benefit Section -->
	<section class="benefit-section">
		<div class="background-layer-one" style="background-image:url({% static 'images/background/pattern-5.png' %})"></div>
		<div class="background-layer-two" style="background-image:url({% static 'images/background/pattern-6.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Images Column -->
				<div class="images-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="pattern-layer" style="background-image:url({% static 'images/background/pattern-3.png' %})"></div>
						<div class="pattern-layer-two" style="background-image:url({% static 'images/background/pattern-4.png' %})"></div>
						<div class="color-layer"></div>
						<div class="image">
							<img src="{% if sections.home1_benefit and sections.home1_benefit.image %}{{ sections.home1_benefit.image.url }}{% else %}{% static 'images/resource/benefit-1.jpg' %}{% endif %}" alt="" />
						</div>
						<div class="image-two">
							<img src="{% static 'images/resource/benefit-3.jpg' %}" alt="" />
						</div>
						<div class="image-three">
							<img src="{% static 'images/resource/benefit-2.jpg' %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="title">{% if sections.home1_benefit %}{{ sections.home1_benefit.subtitle }}{% else %}Learn anything{% endif %}</div>
							<h2>{% if sections.home1_benefit %}{{ sections.home1_benefit.title|safe }}{% else %}Benefit from our <br> online learning expertise <br> Earn professional{% endif %}</h2>
						</div>
						<ul class="list-style-one">
                            {% for feature in features %}
                                {% if feature.page == 'home1_benefit' %}
							    <li><span class="icon {{ feature.icon_class }}"></span><strong>{{ feature.title }}</strong>{{ feature.text }}</li>
                                {% endif %}
                            {% endfor %}
                            {% if not features %}
							<li><span class="icon flaticon-double-check"></span><strong>Online degrees</strong>Vendors, suppliers and companies with online access to your technology can be your weakest link</li>
							<li><span class="icon flaticon-double-check"></span><strong>Short courses</strong>Vendors, suppliers and companies with online access to your technology can be your weakest link</li>
							<li><span class="icon flaticon-double-check"></span><strong>Learn with experts</strong>Vendors, suppliers and companies with online access to your technology can be your weakest link</li>
                            {% endif %}
						</ul>
						<div class="btn-box">
							<a href="{% if sections.home1_benefit %}{{ sections.home1_benefit.button_link }}{% else %}{% url 'about' %}{% endif %}" class="theme-btn btn-style-two"><span class="txt">{% if sections.home1_benefit %}{{ sections.home1_benefit.button_text }}{% else %}Join For free{% endif %}</span></a>
						</div>
					</div>
				</div>
				
			</div>
			
			<!-- Lower Text -->
			<div class="lower-text">
				<p>{% if sections.home1_benefit %}{{ sections.home1_benefit.text|safe }}{% else %}Lebari is built for people like you. With useful features, your dream and idea can <br> become a reality. Lebari helps you to achieve big things!{% endif %}</p>
			</div>
			
		</div>
	</section>
	
	
	<!-- Feature Section -->
	<section class="feature-section">
		<div class="pattern-layer" style="background-image:url({% static 'images/background/pattern-7.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="sec-title">
							<div class="title">Explore featured courses</div>
							<h2>Fundamentals of Digital <br> Health in Hospitals National <br> University</h2>
							<div class="text">Dolor sit amet, consectetur adipiscing elit, sed do eiusmod but laboris incididunt ut labore et dolore magna <br> aliqua.sed do eiusmod but laboris incididunt ut labore et dolore magna aliqua.</div>
						</div>
						<div class="btn-box">
							<a href="{% url 'about' %}" class="theme-btn btn-style-two"><span class="txt">Short courses</span></a>
						</div>
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="color-layer"></div>
						<div class="image wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/feature.jpg' %}" alt="" />
							<div class="overlay-box">
								<div class="content">
									<h2>How a degree on <br> FutureLearn <br> works</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod but laboris incididunt ut labore et dolore magna </p>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod </p>
									<a href="#" class="learn">Learn 3 Class</a>
								</div>
							</div>
						</div>
						<div class="feature-icon wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<img src="{% static 'images/resource/feature-icon.png' %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</section>
	<!-- End Benefit Section -->
	
	<!-- Courses Section -->
	<section class="courses-section">
		<div class="pattern-layer" style="background-image:url({% static 'images/background/pattern-2.png' %})"></div>
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="auto-container">
			<div class="sec-title centered">
				<h2>You can learn anything, Explore <br> featured courses</h2>
				<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat <br> nulla pariatur Duis aute irure dolor in reprehenderit in</div>
			</div>
			<div class="row clearfix">
				
								{% for course in courses %}
				<!-- Course Column -->
				<div class="course-block col-lg-4 col-md-6 col-sm-12">
					<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
						<div class="image">
							<a href="{% url 'course_detail' course.slug %}"><img src="{% if course.image %}{{ course.image.url }}{% else %}{% static 'images/resource/course-1.jpg' %}{% endif %}" alt="{{ course.title|striptags }}" /></a>
						</div>
						<div class="lower-content">
							<h4><a href="{% url 'course_detail' course.slug %}">{{ course.title|truncatechars:50 }}</a></h4>
							<div class="uni-name">{{ course.category.name }}</div>
							<div class="rating">
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star-o"></span>
								<strong>{{ course.rating }}</strong>
								<i>({{ course.reviews_count }} Review)</i>
							</div>
							<div class="price">
                                {% if course.price == 0 %}
                                    Free
                                {% else %}
                                    ${{ course.price }}
                                {% endif %}
                                {% if course.original_price %}<span>${{ course.original_price }}</span>{% endif %}
                            </div>
							<div class="clearfix">
								<div class="pull-left">
									<div class="hovers">{{ course.duration }} . {{ course.level }}  </div>
								</div>
								<div class="pull-right">
									<a href="{% url 'course_detail' course.slug %}" class="enroll-now">ENROL NOW</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	
	
	<!-- Career Section -->
	<section class="career-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<h2>{% if sections.home1_career %}{{ sections.home1_career.title|safe }}{% else %}Change careers courses <br> Thinking about a career change?{% endif %}</h2>
			</div>
			
			<div class="row clearfix">
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% if sections.home1_career and sections.home1_career.image %}{{ sections.home1_career.image.url }}{% else %}{% static 'images/resource/career.png' %}{% endif %}" alt="" />
						</div>
					</div>
				</div>
				
				<!-- Content Column -->
				<div class="content-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<h5>{% if sections.home1_career %}{{ sections.home1_career.subtitle }}{% else %}The International Admissions Bulletin{% endif %}</h5>
						<div class="text">
							{% if sections.home1_career %}{{ sections.home1_career.text|safe }}{% else %}
							<p>Ut enim ad minim veniam aliquip amet, nostrud exercitation ullamco. Pharetra massaultricies mi quis hendrerit. Elit eget gravida cum sociis.Ut enim ad minim veniam aliquip amet, </p>
							<p>nostrud exercitation ullamco. Pharetra massaultricies mi quis hendrerit. Elit eget gravida cum sociis.</p>
                            {% endif %}
						</div>
						<a href="{% if sections.home1_career %}{{ sections.home1_career.button_link }}{% else %}{% url 'about' %}{% endif %}" class="theme-btn btn-style-three">{% if sections.home1_career %}{{ sections.home1_career.button_text }}{% else %}Read it now{% endif %} <span class="fa fa-caret-right"></span></a>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	
	
	<!-- Skill Section -->
	<section class="skill-section">
		<div class="pattern-layer" style="background-image:url({% static 'images/background/pattern-8.png' %})"></div>
		<div class="auto-container">
			<div class="row clearfix">
				
				<!-- Skill Column -->
				<div class="skill-column col-lg-7 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Sec Title -->
						<div class="sec-title">
							<div class="title">Our Status valu</div>
							<h2>Differentiate your classroom <br> What makes us special?</h2>
							<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</div>
						</div>
						
						<!-- Skills -->
						<div class="skills">

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">Joyful</div>
									<div class="skill-percentage">
										<div class="count-box">
											<span class="count-text" data-speed="2000" data-stop="90">0</span>%
										</div>
									</div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="90"></div></div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">Case Study success </div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="95">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="95"></div></div>
								</div>
							</div>

							<!-- Skill Item -->
							<div class="skill-item">
								<div class="skill-header clearfix">
									<div class="skill-title">Engaging</div>
									<div class="skill-percentage"><div class="count-box"><span class="count-text" data-speed="2000" data-stop="75">0</span>%</div></div>
								</div>
								<div class="skill-bar">
									<div class="bar-inner"><div class="bar progress-line" data-width="75"></div></div>
								</div>
							</div>

						</div>
						
					</div>
				</div>
				
				<!-- Image Column -->
				<div class="image-column col-lg-5 col-md-12 col-sm-12">
					<div class="inner-column">
						<div class="circle-one"></div>
						<div class="circle-two"></div>
						<div class="image titlt" data-tilt data-tilt-max="4">
							<img src="{% static 'images/resource/skill.png' %}" alt="" />
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- End Skill Section -->
	
	<!-- Testimonial Section -->
	<section class="testimonial-section">
		<div class="circle-one paroller" data-paroller-factor="-0.20" data-paroller-factor-lg="0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="circle-two paroller" data-paroller-factor="0.20" data-paroller-factor-lg="-0.20" data-paroller-type="foreground" data-paroller-direction="horizontal"></div>
		<div class="pattern-layer-two" style="background-image:url({% static 'images/background/pattern-10.png' %})"></div>
		<div class="auto-container">
			<div class="inner-container">
				<div class="pattern-layer" style="background-image:url({% static 'images/background/pattern-9.png' %})"></div>
				<!-- Sec Title -->
				<div class="sec-title centered">
					<div class="title">Testimonial</div>
					<h2>Words From Customers</h2>
					<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu <br> fugiat nulla pariatur Duis aute irure dolor in reprehenderit in</div>
				</div>
				<div class="testimonial-carousel owl-carousel owl-theme">
					
										{% for testimonial in testimonials %}
					<!-- Testimonial Block -->
					<div class="testimonial-block">
						<div class="inner-box">
							<div class="text">{{ testimonial.text }}</div>
							<div class="author-info">
								<div class="info-inner">
									<div class="author-image">
										<img src="{% if testimonial.image %}{{ testimonial.image.url }}{% else %}{% static 'images/resource/author-1.jpg' %}{% endif %}" alt="{{ testimonial.name }}" />
									</div>
									<h6>{{ testimonial.name }}</h6>
									<div class="designation">{{ testimonial.designation }}</div>
								</div>
							</div>
							<div class="quote-icon flaticon-quote-2"></div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- News Section -->
	<section class="news-section">
		<div class="pattern-layer" style="background-image:url({% static 'images/background/pattern-11.png' %})"></div>
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">Our Blogs</div>
				<h2>Latest articles & news</h2>
				<div class="text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu <br> fugiat nulla pariatur Duis aute irure dolor in reprehenderit in</div>
			</div>
			<div class="inner-container">
				<div class="icon-layer-one" style="background-image:url({% static 'images/icons/icon-1.png' %})"></div>
				<div class="icon-layer-two" style="background-image:url({% static 'images/icons/icon-2.png' %})"></div>
				<div class="icon-layer-three" style="background-image:url({% static 'images/icons/icon-2.png' %})"></div>
				<div class="row clearfix">
				
										{% for post in posts %}
					<!-- News Block -->
					<div class="news-block col-lg-6 col-md-6 col-sm-12">
						<div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
							<div class="image">
								<a href="{% url 'blog_detail' post.slug %}"><img src="{% if post.image %}{{ post.image.url }}{% else %}{% static 'images/resource/news-1.jpg' %}{% endif %}" alt="{{ post.title }}" /></a>
							</div>
							<div class="lower-content">
								<div class="border-layer"></div>
								<ul class="post-info">
									<li>{{ post.category.name }}</li>
									<li>Updated  {{ post.created_at|date:"M d, Y" }}</li>
								</ul>
								<h4><a href="{% url 'blog_detail' post.slug %}">{{ post.title|truncatechars:50 }}</a></h4>
								<a href="{% url 'blog_detail' post.slug %}" class="more">More <span class="fa fa-angle-double-right"></span></a>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- Clients Section -->
	<section class="clients-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<h2>{% if sections.home1_clients %}{{ sections.home1_clients.title }}{% else %}Key supporters{% endif %}</h2>
				<div class="text">{% if sections.home1_clients %}{{ sections.home1_clients.text|safe }}{% else %}These leading universities are currently offering online degree <br> courses on FutureLearn:{% endif %}</div>
			</div>
			
			<div class="sponsors-outer">
				<!--Sponsors Carousel-->
				<ul class="sponsors-carousel owl-carousel owl-theme">
                    {% if clients %}
                        {% for client in clients %}
						    <li class="slide-item"><figure class="image-box"><a href="#">{% if client.image %}<img src="{{ client.image.url }}" alt="{{ client.name }}">{% endif %}</a></figure></li>
                        {% endfor %}
                    {% else %}
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/1.png' %}" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/2.png' %}" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/3.png' %}" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/4.png' %}" alt=""></a></figure></li>
					<li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'images/clients/5.png' %}" alt=""></a></figure></li>
                    {% endif %}
				</ul>
			</div>
			
		</div>
	</section>
	
	
	<!-- Main Footer -->
    
{% endblock %}
